<footer>
  <nav class="container">
    <ul>
      <li><a href="https://www.linkedin.com/in/davidthewatson/" alt="LinkedIn" title="LinkedIn"><i <
            class="fa fa-brands fa-linkedin fa-3x"></i></a>
      </li>
      <li><a href="/about/"><img class="icon-rounded fa fa-brands fa-linkedin fa-3x" src="/images/watson.jpg" alt="Dave" title="Dave"></a>
            </li>
      <li><a href="https://github.com/davidthewatson" alt="Github" title="Github"><i <
            class="fa fa-brands fa-github fa-3x"></i></a></li>
      </li>
        </ul>
  </nav>
  <nav class="container">
    <ul>
      <li>
        © <a href="/about/">David Watson</a> 2024
            </li>
</ul>
<ul>
  <li>
  <a href="https://github.com/davidthewatson/doc">doc</a>
  </li>
</ul>
<ul>
<li>
    <li><a href="/about/">about</a></li>
</li>
        </ul>
  </nav>
</footer>
