{% extends '_resume_base.html' %}
{% set active_page = "resume" %}
{% block title %}davidwatson.org: resume{% endblock %}
{% block body %}

<h1>David Watson <small>david@davidwatson.org</small></h1>
        <h2>Summary</h2>
        <p>I help teams design, develop, and deploy software using automation, iteration, and reflection to improve.</p>
        <h2>Experience</h2>
        <h3 id="hall">Software Engineering Specialist, Consultant, <em>Caterpillar</em> <small>2018-2020, 2021-present</small></h3>
        <ul>
          <li>Prototyped ingestion, storage, and annotation as well as terrain visualization for Autonomy Group</li>
        </ul>
        <h3 id="cmu">Member of Technical Staff, <em>Carnegie Mellon University</em> <small>2020</small></h3>
        <ul>
          <li>Researched high performance computing, ML, and HCI for Emerging Technology Center (ETC)</li>
        </ul>
        <h3 id="realpage">Senior Software Developer, <em>Realpage</em> <small>2016 - 2018</small></h3>
        <ul>
          <li>Implemented crawler data pipeline using Python, PostgreSQL, Docker, and Kubernetes</li>
        </ul>
        <h3 id="wellbridge">VP Product Development, <em>Wellbridge Health</em> <small>2015 - 2016</small></h3>
        <ul>
          <li>Led design of Django REST JSON API using PostgreSQL to Ember Data on web and mobile</li>
        </ul>
        <h3 id="hae">VP Engineering, <em>Hire an Esquire</em> <small>2014</small></h3>
        <ul>
          <li>Led engineering team through refactoring Python, Django, and PostgreSQL stack</li>
        </ul>
        <h3 id="forever">Senior Software Developer, <em>Forever</em> <small>2013 - 2014</small></h3>
        <ul>
          <li>Wrote Python, Flask, MongoDB prototype, ported to Ruby on Rails, PostgreSQL</li>
       </ul>
        <h3 id="smash">Senior Engineer, <em>Smash</em> <small>2011 - 2012</small></h3>
        <ul>
          <li>Designed and implemented conversational text systems and REST interfaces in python</li>
      </ul>
        <h3 id="wellspring">Software Development Manager, <em>Wellspring</em> <small>2010 - 2011</small></h3>
        <ul>
          <li>Led DevOps approach to Selenium (CI) and Capistrano (CD)</li>
        </ul>
        <h3 id="api">Project Engineer, <em>Applied Perception</em> <small>2008-2009</small></h3>
        <ul>
          <li>Visualized XML sonar data in python, ported Microsoft C#.net Windows GUI to C++/Qt/Linux</li>
      </ul>
        <h3 id="nomos">UI Software Engineer, <em>Nomos</em> <small>2006 - 2007</small></h3>
        <ul>
          <li>Prototyped wireframes and storyboards in C++/Qt for adaptive 4D treatment planning</li>
      </ul>
        <h3 id="maya">Software Design Engineer, <em>MAYA</em> <small>2004 - 2006</small></h3>
        <ul>
          <li>Implemented AJAX backends in python/non-relational DB and a wireless lighting system in C# for Philips</li>
      </ul>
        <h3 id="cobind">Co-Founder, <em>Cobind</em> <small>2003 - 2004</small></h3>
        <ul>
          <li>Co-founded custom Linux tools startup after winning Idea Foundry Fellowship</li>
        </ul>
      </ul>
      <h3 id="msa">Senior Software Engineer, <em>Management Science Associates</em> <small>2000-2003</small></h3>
      <ul>
        <li>Implemented product import systems providing Excel VBA API from spreadsheet to database
        </li>
      </ul>
      <h3 id="ca">Member of Technical Staff, <em>CA</em> <small>1995-2000</small></h3>
      <ul>
        <li>Coded C++ on Automation Point, Raveler, and Unicenter at Legent, Platinum, and CA, respectively
        </li>
      </ul>
      <h3 id="mellon">Programmer-Analyst, <em>Mellon</em> <small>1992-1995</small></h3>
      <ul>
        <li>Wrote C++ on OS/2 for Executive Workbench asset management product
        </li>
      </ul>
      <h3 id="usx">Programmer-Analyst, <em>USX</em> <small>1990-1992</small></h3>
      <ul>
        <li>Implemented C/C++ HLLAPI programs on OS/2 to automate data center operations from a remote networked PC
        </li>
      </ul>

        <h2>Education</h2>
        <ul>
          <li>Bachelor of Science, <em>Duquesne University 1991</em>
          </li>
        </ul>
        {% endblock %}
