<header class="container">
  <h2>
    <table width="100%">
      <tr>
        <td nowrap>David Watson</td>
        <td style="text-align: right;">d@davidwatson.org</td>
      </tr>
      <tr>
        <td nowrap="nowrap">(412) 376-7565</td>
        <td style="text-align: right;">
          <a href="https://www.linkedin.com/in/davidthewatson/"><i class="fa fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/davidthewatson"><i class="fa fa-brands fa-github"></i></a>
          <a href="/cv/dw/index.pdf"><i class="fa-solid fa-file-pdf" aria-hidden="true"></i></a>
        </td>
      </tr>
    </table>
</header>