<header class="container">
  <h2>
    <table width="100%">
      <tr>
        <td nowrap>David Watson</td>
        <td class="address" nowrap="nowrap">d@davidwatson.org
        </td>
        <td class="address">
          1314 Arrowood Drive</td>
      </tr>
      <tr>
        <td>
          <a href="https://www.linkedin.com/in/davidthewatson/"><i class="fa fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/davidthewatson"><i class="fa fa-brands fa-github"></i></a>
          <a href="/cv/dw/index.pdf"><i class="fa-solid fa-file-pdf" aria-hidden="true"></i></a>
        </td>
        <td class="address" nowrap="nowrap">(412) 614-9301</td>
        <td class="address">Pittsburgh, PA 15243</td>
      </tr>
    </table>
</header>