{% set navigation_bar = [
    ('/reading/', 'reading'),
    ('/writing/', 'writing'),
    ('/reflecting/', 'reflecting')
    ] -%}
    
    {% set active_page = active_page|default('home') -%}
    <footer>    
        <nav class="container-fluid">
           <ul>
            <li><a href="https://github.com/davidthewatson"><i class="fa-brands fa-github fa-2x"></i></a></li>
          <li><a href="https://www.linkedin.com/in/davidthewatson/"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
          <li><a href="https://stackoverflow.com/users/173308/david-watson"><i class="fa-brands fa-stack-overflow fa-2x"></i></a></li>
          <li><a href="https://news.ycombinator.com/user?id=davidthewatson"><i class="fa-brands fa-hacker-news fa-2x"></i></a></a></li>
        </ul>
        </nav>
        <h6>© David Watson 2022. All rights reserved.</h6>
      </footer>