<footer>
  <nav class="container">
    <ul>
      <li><a href="https://github.com/davidthewatson" alt="Github" title="Github"><i
            class="fa fa-brands fa-github fa-3x"></i></a></li>
      <li><a href="https://www.linkedin.com/in/davidthewatson/" alt="LinkedIn" title="LinkedIn"><i
            class="fa fa-brands fa-linkedin fa-3x"></i></a></li>
      <li><a href="https://stackoverflow.com/users/173308/david-watson" alt="Stack Overflow" title="Stack Overflow"><i
            class="fa fa-brands fa-stack-overflow fa-3x"></i></a></li>
    </ul>
  </nav>
  <nav class="container">
    <ul>
      <li>
        © <a href="/about/">David Watson</a> 2023
      </li>
    </ul>
  </nav>
</footer>