<header class="container">
  <nav>
    <ul>
      <li><strong><a href="/">davidwatson.org</a>
          <aside>
            <nav>
              <ul>
                <li>intense iterative inquiry from</li>
                <li>reading writing and reflecting</li>
        </strong>
    </ul>
  </nav>
  </aside>
  </ul>
  <li>
    <a href="/about/" alt="about Dave" title="about Dave"><img class="icon-footer" src="/images/watson.png" alt="Dave"
        title="Dave"></img></a>
  </li>
  </nav>
</header>