<nav>
      <a href="/"><img src="/favicon-32x32.png"></a>
      <a href="/essays/"><i class="fas fa-file-alt" style="vertical-align:bottom; font-size: 32px;"></i></a>
      <a href="https://github.com/davidthewatson"><i class="fa-brands fa-github" style="vertical-align:bottom; font-size: 32px;"></i></a>
      <a href="https://www.linkedin.com/in/davidthewatson/"><i class="fa-brands fa-linkedin" style="vertical-align:bottom; font-size: 32px;"></i></a>
      <a href="https://stackoverflow.com/users/173308/david-watson"><i class="fa-brands fa-stack-overflow" style="vertical-align:bottom; font-size: 32px;"></i></a>
</nav>