<nav>
    <ul>
      <li>
        davidwatson.org
    </li>
    <li>
      <a href="https://github.com/davidthewatson">
        <i class="fa-brands fa-github" style="font-style: normal;"></i>
      </a> 
    </li>
    <li>
      <a href="https://www.linkedin.com/in/davidthewatson/">
        <i class="fa-brands fa-linkedin" style="font-style: normal;"></i>
      </a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/173308/david-watson">
        <i class="fa-brands fa-stack-overflow" style="font-style: normal;"></i>
      </a>     
    </li>
        <li><a href="/">home</a></li>
        <li><a href="/about/">about</a></li>
        <li><a href="/essays/">essays</a></li>
  </ul>
  </nav>